html, body, #app {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}
.landing {
  height: 100%;
  width: 100%;
  background-color: white;
}

.landing-modal {
  width: 50%;
  height: 60%;
  background-color: white;
}
