html, body, #app {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}
.landing {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
}

.landing-modal {
  width: 50%;
  height: 60%;
  background-color: white;
}

.scene {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.landing-column {
  height: 100%;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mock-chat-container {
  width: 80%;
  height: 80%;
  min-width: 0;
}

.mock-chat-container .user-name, .mock-chat-container .friend-name {
  height: 13px;
  background-color: rgba(0,0,0,0.3);
  width: 40%;
}
.mock-chat-container .friend-name {
  width: 80%;
  margin-top: 8px;
}
.mock-chat-container .friend-last-message {
  width: 30%;
  background-color: rgba(0,0,0,0.3);
  height: 10px;
  margin-top: 5px;
}

.mock-chat-container .user-avatar {
  opacity: 0.6;
}

.mock-chat-container .user-email {
  height: 13px;
  background-color: rgba(0,0,0,0.15);
  margin-top: 2px;
  width: 80%;
}

.message-body {
  user-select: none;
}

.message:nth-child(1) .message-body {
  width: 40%;
}

.message:nth-child(2) .message-body {
  width: 50%;
}

.message:nth-child(3) .message-body {
  width: 20%;
}


.login-modal {
  height: 60%;
  width: 75%;

  margin-right: 15%;
}

.login-modal h1 {
  font-size: 3em;
}

.login-modal form {
  margin-top: 30px;
}

.btn-wide {
  min-width: 160px;
  margin-right: 20px;
}

.submits {
  margin-top: 50px;
  padding: 11px;
  display: flex;
  align-items: center;
}

.text-right {
  text-align: right;
}
