body {
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 100vh;
}

.top-bar {
  background-color: #7b1fa2;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 120px;
  z-index: 0;
}

.chat-container {
  z-index: 1;
  height: 90vh;
  width: 70vw;
  background-color: white;
  position: relative;
  display: flex;
  flex-direction: row;
  min-width: 700px;
}

.left-section {
  flex: 1;
  display: flex;
  flex-direction: column;
  background-color: #e8e8e8;
  overflow: hidden;
}

.right-section {
  width: 72%;
}

.friend-list {
  background-color: #e8e8e8;
  flex: 12;
}

.friend-card {
  cursor: pointer;
  padding: 15px;
  padding-top: 8px;
  padding-bottom: 8px;
  background-color: #e1e1e1;
  border-top: 1px solid rgba(0,0,0,0.05);
  transition: .1s all ease-in-out;
  display: flex;
}

.friend-card.active, .friend-card:hover {
  background-color: #d5d5d5;
}

.friend-avatar {
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.1);
  height: 48px;
  width: 48px;
  margin-right: 15px;
}

.friend-text {
  flex: 1;
}

.friend-card:first-child {
  border-top: none;
}

.friend-name {
  color: #333;
  font-size: 1.3em;
}

.friend-last-message .time {
  color: orangered;
  font-size: 0.7em;
  float: right
}

.friend-last-message {
  font-size: 0.9em;
  opacity: 0.8;
  max-width: 100%;
  word-break: break-all;
}

.chat {
  flex: 3;
  padding: 30px;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.messages {
  flex: 1;
  overflow-y: scroll;
  overflow-x: hidden;
  padding-right: 30px;
  max-width: 100%;
}

.message {
  width: 100%;
  height: auto;
  margin-top: 3px;
  clear: both;
  height: 40px;
  width: 100%;
  position: relative;
  word-break: break-all;
}

.message i {
  position: absolute;
  right: -20px;
  bottom: 12px;
  font-size: 12px
}

.message-body {
  background-color: #e8e8e8;
  padding: 10px;
}

.message-body.sent {
  float: right;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  background-color: #448aff;
  color: white;
}

.message-body.received {
  float: left;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}


.styled-scrollbar::-webkit-scrollbar-track
{
	border-radius: 10px;
	background-color: #F5F5F5;
}

.styled-scrollbar::-webkit-scrollbar
{
	width: 12px;
	background-color: #F5F5F5;
}

.styled-scrollbar::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	background-color: #555;
}

.inputs {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.send-button {
  margin-left: 10px;
  background-color: #7b1fa2;
  color: white;
  border-radius: 50%;
  border: none;
  height: 32px;
  width: 32px;
  cursor: pointer;
}

.user-panel {
  display: flex;
  flex: 1;
  flex-direction: row;
  padding-left: 10px;
  padding-right: 10px;
  justify-content: center;
  align-items: center;
  background-color: #333;
  color: white;
}


.user-avatar {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
  width: 42px;
  height: 42px;
  background-color: #bbb;
  border-radius: 50%;
}

.user-avatar img {
  opacity: 0.9;
  height: 42px;
}

.user-info {
  flex: 9;
  margin-left: 0px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.user-email {
  font-size: 0.8em;
  opacity: 0.8;
}

.welcome {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-weight: bold;
  opacity: 0.5;
}
